.container {
	background: #aabbcc;
	border-radius: 0.25em;
	display: flex;
	flex-direction: column;
	margin: 1em auto;
	max-width: 300px;
	padding: 1em;

	strong,
	input {
		margin-bottom: 0.5em;
	}

	input {
		background: grey;
		border-radius: 0.25em;
		color: #fff;
		padding: 10px;
	}

	button {
		padding: 0.5em;
	}

	strong {
		text-align: center;
	}
}
