.table {
	margin: 1em;
}

.header {
	background: #ccc;

	th {
		padding: 0.5em;
	}
}

.row {
	background: transparent;

	&:nth-child(even) {
		background: #eee;
	}

	td {
		padding: 0;
	}
}

.client_req_id {
	width: 25%;
}

.order_number {
	width: 25%;
}
