@mixin position(
	$position: relative,
	$top: auto,
	$right: auto,
	$bottom: auto,
	$left: auto,
	$hideAuto: true
) {
	position: $position;
	@include bounds($top, $right, $bottom, $left, $hideAuto);
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0, $hideAuto: true) {
	@include position(absolute, $top, $right, $bottom, $left, $hideAuto);
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0, $hideAuto: true) {
	@include position(fixed, $top, $right, $bottom, $left, $hideAuto);
}

@mixin relative($top: 0, $right: 0, $bottom: 0, $left: 0, $hideAuto: true) {
	@include position(relative, $top, $right, $bottom, $left, $hideAuto);
}

@mixin sticky($top: 0, $right: 0, $bottom: 0, $left: 0, $hideAuto: true) {
	@include position(sticky, $top, $right, $bottom, $left, $hideAuto);
}

// -----------------------------------------------------------------------------

@mixin bounds($top: 0, $right: 0, $bottom: 0, $left: 0, $hideAuto: false) {
	@include bound(top, $top, $hideAuto);
	@include bound(right, $right, $hideAuto);
	@include bound(bottom, $bottom, $hideAuto);
	@include bound(left, $left, $hideAuto);
}

@mixin bound($position, $value: auto, $hideAuto: false) {
	@if hideAuto {
		@if $value != auto {
			#{$position}: $value;
		}
	} @else {
		#{$position}: $value;
	}
}

// -----------------------------------------------------------------------------

@mixin size($width: auto, $height: $width, $hideAuto: true) {
	@include dimension(width, $width, $hideAuto);
	@include dimension(height, $height, $hideAuto);
}

@mixin dimension($side, $value, $hideAuto: false) {
	@if hideAuto {
		@if $value != auto {
			#{$side}: $value;
		}
	} @else {
		#{$side}: $value;
	}
}
