.container {
	background: #aabbcc;
	border-radius: 0.25em;
	display: flex;
	flex-direction: column;
	margin: 1em auto;
	max-width: 300px;
	padding: 1em;

	button {
		padding: 0.5em;
	}
}
