.cell {
	@include size(100%);

	padding: 0.25em;
}

.editCell {
	@include size(100%);

	display: flex;

	input {
		appearance: none;
		background: #ffa;
		border: none;
		font-size: 1rem;
		outline: none;
		padding: 0.25em;
		width: 100%;
	}
}

// -----------------------------------------------------------------------------

.failedValidation {
	background: rgba(#f00, 0.1);
	cursor: pointer;
}
