<!-- <%= htmlWebpackPlugin.options.BUILD_DATE %>, <%= htmlWebpackPlugin.options.BUILD_HASH %> -->

<!DOCTYPE html>
<html>
	<head>
		<title>Wal-Mart Test</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0" />

		<style type="text/css" data-preloader="true">
			#loader {
				align-items: center;
				bottom: 0;
				display: flex;
				justify-content: center;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 2;
			}

			#loader div {
				height: 32px;
				position: relative;
				width: 32px;
			}

			#loader div:before,
			#loader div:after {
				border: 4px #fff solid;
				border-radius: 1000px;
				content: '';
				position: absolute;
			}

			#loader div:before {
				animation: rotate 1s infinite linear;
				border-left-color: transparent !important;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				z-index: 1;
			}

			#loader div:after {
				bottom: 1px;
				left: 1px;
				right: 1px;
				top: 1px;

				border-width: 2px;
				opacity: 0.33;
				z-index: 0;
			}

			body.failed_loading_app #loader {
				display: none;
			}

			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}
		</style>
		<style data-preloader="true">
			#failure {
				font-family: sans-serif;
				color: #fff;
				display: none;
				margin: 32px auto;
				max-width: 512px;
			}

			#failure h1 {
				margin: 0 0 16px 0;
			}

			body.failed_loading_app #failure {
				display: block;
			}
		</style>
		<script type="text/javascript" data-preloader="true">
			window.addEventListener('DOMContentLoaded', () => {
				// determine OS theme mode
				if (window.matchMedia) {
					const mode = window.matchMedia('(prefers-color-scheme: dark)').matches
						? 'dark'
						: 'light';

					document.documentElement.setAttribute('data-preferred-theme', mode);
					document.documentElement.setAttribute('data-theme', mode);
				}
			});
		</script>
	</head>
	<body>
		<div id="loader"><div></div></div>

		<div id="failure">
			<h1>Failed to load content</h1>
			<p>
				Check your internet connection and
				<a href="javascript:window.location.reload(true);">refresh</a>
				the page.
			</p>
		</div>
	</body>
</html>
